.mainBoddari {
  background-color: #7470AA;
  padding: 30px 40px;
  margin-bottom: 10px;
  border-radius: 15px;

  .titleModule {
    // font-family: 'Pretendard-Regular';
    font-family: 'Bazzi';
    color: #FFEDEC;

    .mainTitle{
      ont-size: 32px;
      padding-top: 24px;
      font-weight: 800;
      text-align: center;
    }
    .subTitle{
      font-weight: 200;
      padding: 10px 0;
      color: #FFF7F4;
      text-align: right;
    }
  }

  .buttons {
    font-family: 'Bazzi';
    font-size: 22px;
    font-weight: 800;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #7470AA;

    .makeBoddari {
      border-radius: 50px;
      height: 50px;
      width: 150px;
      background-color: #FFEDEC;
    }
    .mergeBoddari {
      border-radius: 50px;
      height: 50px;
      width: 150px;
      background-color: #FFF7F4;
    }
  }

}