.MainPopularBoddari {
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: white;
}

.titleModule {
  // font-family: 'Pretendard-Regular';
  font-family: "Bazzi";
  color: #454545;

  .mainTitle {
    font-size: 24px;
    padding-top: 24px;
    font-weight: 800;
  }
  .subTitle {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
    color: #454545;
  }
}

.monthSection {
  padding: 30px 40px;
  border-bottom: 2px solid #f5f5f5;
  align-items: center;
}

// Images
.profile-img-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boddariRank {
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  padding: 15px 40px;
  align-items: center;
  justify-content: space-between;
  font-family: "GongGothicMedium";

  .boddari-ranking {
    min-width: 3rem;

    .boddari-ranking-p {
      text-align: end;
      padding-right: 0.8rem;
    }
    .boddari-ranking-span {
      font-size: 12px;
    }
  }

  .boddari-info {
    font-family: "Pretendard-Regular";
    line-height: 120%;
    width: 60%;
    padding: 0 20px;
    text-align: right;
    // padding-right: 20px;

    .boddari-title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4px;

      .boddari-name {
        font-size: 16px;
        font-weight: 800;
      }
      .boddari-username {
        font-size: 13px;
      }
    }

    .boddari-desc {
      .boddari-desc-text {
        color: #606060;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 문장 길이가 지정된 라인을 넘어가면 말줄임처리
        -webkit-box-orient: vertical;
      }
    }
    .boddari-heart {
    }
  }
}
