.mergeBoddari {
  font-family: 'bazzi';
}
.my-item-content {
  display: flex;
  overflow: auto;
}
.other-item-content {
  display: flex;
  overflow: auto;
}

.myimg {
  width: 150px;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid black;
}

.otherimg {
  width: 150px;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid black;
}

.otherName { 
  text-align: left;
}
.myName {
  text-align: center;
}

.my {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.otherBtn {
  border:  1px solid black;
    font-size: 15px;
    width: 60px;
    border-radius: 15px;
    font-size: 20px;

}

.myBtn {
  font-size: 15px;
  border:  1px solid black;
  border-radius: 15px;
  font-size: 20px;
  width: 60px;
}

.other-item {
  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  padding: 5px;
  width: 98%;
  margin-top: 15px;
  margin-left: 3px;
  margin-top: 45px;
}
.my-item {
  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  padding: 5px;
  width: 98%;
  margin-top: 25px;
  margin-left: 3px;
}

.mergeTarget {
  margin-top : 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1{
      font-size: 25px;
    }
    button {
      padding: 10px;
      font-size: 25px;
      width: 100px;
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px;
    }
  }

  // .addBod {
  //   width: 250px;
  //   border: 1px solid black;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   border-radius: 15px;
  // }

  .bagid1 {
    position: absolute;
    color: rgba(232, 139, 164, 0.8);
    margin-left: 250px;
    margin-top: 15px;
    font-size: 18px;
  }
  .bagid2 {
    position: absolute;
    color: rgba(232, 139, 164, 0.8);
    margin-left: 250px;
    margin-top: 60px;
    font-size: 18px;
  }