// .imageWrap {
//   height: 100%;
//   border-radius: 10px 10px 0 0;
//   background-size: cover;
//   background-position: 50% 50%;
//   background-repeat: no-repeat;
//   transition: all .7s;
// }
.DestinationDetail {
  background-color: white;
  border-radius: 15px;
  padding: 24px 0;
}

.destTitle {
  // color: white;
  text-align: center;
  font-size: 36px;
  padding: 24px;
  font-weight: 900;
}

.imageWrap {
  position: relative;
  width: calc(100% - 48px);
  margin: 0 24px;
  display: block;
  overflow: hidden;
  border-radius: 15px;
  justify-content: center;
  
  .image {
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all .7s;
    
  }
}