.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8785A2;
  color: white;
  text-align: center;
  height: 70px;

  .bottomBox {
    // background-color: aqua;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .iconTab {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;

    .homeIcon {
      color: white;
      margin: 0 auto;
    }
    .iconText {
      color: white;
      font-size: 12px;
      font-family: 'Pretendard-Regular';
      line-height: 14px;
    }
  }
}