.boddariRoot {
  display: flex row;
  align-items: center;
  background-color: #FFc7c7;
}
.boddari img {
  width: 150px;
  height: 150px;
}
.boddari { 
  display: flex;
  justify-content: center;
}
.Destination {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  color: white;
}
.Image  img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 3px solid white;
  
}
.Name button {
  border-radius: 20px;
  font-weight: 800;
  width: 45px;
  height: 30px;
  border: 2px solid white;
}
.image {
  width: 320px;
  background-color: white;
  border-radius: 15px;
}
