@import 'reset.css';

/* 이사만루체 300, 400, 700 */
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 프리텐다드 100~900 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 브라우저 사이즈 360px 이하일때*/
@media (max-width: 360px){
  
}

/* 브라우저 사이즈 360px이상일 때,*/
@media (min-width: 360px){
  
}