.BoddariSearch {
  font-family: "Bazzi";
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.No_bagResult {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}

.bagResult_item {
  padding: 12px 24px;
  .item1 {
    .item1-link {
      .bagResult_item_img {
        width: 100px;
        border-radius: 10px;
        float: left;
      }
    }
    .bagInfo {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      // align-content: space-between;
      .bagName {
        font-family: "GongGothicMedium";
        padding: 0 24px;
      }
      .bagHeart {
        display: flex;
        justify-content: right;
        color: red;
        font-size: 40px;
      }
    }
  }
}
